@model CreatePersonViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Person</h1>

<form asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="PhoneNum"></label>
    <input asp-for="PhoneNum" />
    <span asp-validation-for="PhoneNum"></span>
    <br />
    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>
    <br />
    <input type="submit" value="Create" />
</form>
