@model PeoplesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>People List Index</h1>

<br/>


<div class="row">
    <div class="col">
        <a class="btn btn-secondary btn-sm" id="createBtn" asp-controller="People"
           asp-action="AjaxCreate" data-target="createEnviroment"
           onclick="ShowCreate(event)">Add Person to List</a>
    </div>
    <div class="col">
        <form asp-controller="People" asp-action="Search" method="post" onsubmit="AjaxSearch(event, this)">
            <div class="input-group mb-3">
                <input class="form-control col" id="searchInput" asp-for="Search" placeholder="Search the list..." />
                <div class="input-group-append">
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                    <button class="btn btn-danger btn-sm" asp-controller="People" asp-action="ClearSearch"
                            data-target="listAreaDiv" onclick="AjaxClearSearch(event)">
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="collapse" id="createEnviroment"></div>

<div id="listAreaDiv">
    <partial name="_ShowListPartial" model="Model.peopleList" />
</div>

