@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (Model.NoticeMessage != null)
{
    <h4 style="color: orangered">@Model.NoticeMessage</h4>
}

<form asp-action="Login" method="post">
    <label asp-for="UserName"></label>
    <br />
    <input type="text" asp-for="UserName" value="" />
    <span class="text-danger" asp-validation-for="UserName"></span>
    <br />
    <label asp-for="Password"></label>
    <br />
    <input type="password" asp-for="Password" value="" />
    <span class="text-danger" asp-validation-for="Password"></span>
    <br />
    <input type="submit" value="Login" class="btn-sm mt-4 btn-success" />
</form> 