@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (Model.NoticeMessage != null)
{
    <h4 style="color: orangered">@Model.NoticeMessage</h4>
}

<form asp-action="Login" method="post">
    <input type="text" asp-for="UserName" value="" />
    <input type="password" asp-for="Password" value="" />

    <input type="submit" value="Login" class="btn btn-success" />
</form> 