@model City

<div class="row" id="listItem-@Model.Id">
    <div class="col-8">
        <p>@Model.Name</p>
    </div>
    <div class="col-4">
        <a class="btn btn-outline-warning" asp-controller="City" asp-action="Edit"
           asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-outline-danger" asp-controller="City" asp-action="Delete"
           asp-route-id="@Model.Id">Remove</a>
        <a class="btn btn-outline-info" asp-controller="City" asp-action="Details"
           asp-route-id="@Model.Id">Details</a>
    </div>
</div>