@model CreatePersonViewModel



<div class="row shadow-sm p-4 mb-4 bg-white">
    <form asp-controller="People" asp-action="AjaxCreatePost" method="post">
        <h3 id="createPRSN">Create Person</h3>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control mr-sm-2" />
        <span asp-validation-for="Name" style="color: orangered"></span>
        <br />
        <label asp-for="PhoneNum"></label>
        <input asp-for="PhoneNum" class="form-control mr-sm-2" />
        <span asp-validation-for="PhoneNum" style="color: orangered"></span>
        <br />
        <label>City:</label>
        <select asp-for="City.Id" class="form-control col">
            <option disabled selected></option>
            @foreach (City item in Model.cities)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>   
        <a class="btn btn-primary" asp-controller="City" asp-action="Create" method="Get">Add</a>
        <br />
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>

</div>