@model PeoplesViewModel

@if (@Model.Msg != null)
{
    <div class="toast">
        <div class="toast-header">
            <h5>Message</h5>
        </div>
        <div class="toast-body">
            @if (Model.Msg.Contains("Error"))
            {
                <p style="color: red">@Model.Msg</p>
            }
            else
            {
                <p style="color: green">@Model.Msg</p>
            }
        </div>
    </div>
}