@model Person

<form id="editForm-@Model.Id" asp-controller="People" asp-action="Edit" method="post" onsubmit="PostEdit(event, this)">
    <div class="row">
        <div class="col">
            <input asp-for="Name" class="form-control col" />
            <span asp-validation-for="Name" style="color: orangered"></span>
        </div>
        <div class="col">
            <input asp-for="PhoneNum" class="form-control col" />
            <span asp-validation-for="PhoneNum" style="color: orangered"></span>
        </div>
        <div class="col">
            <input asp-for="City" class="form-control col" />
            <span asp-validation-for="City" style="color: orangered"></span>
        </div>
        <div class="col">
            <input type="submit" class="btn btn-outline-primary" asp-route-id="@Model.Id" value="Done" />
            <a 
               class="btn btn-outline-danger" asp-controller="People" asp-action="Delete" 
               asp-route-id="@Model.Id" data-target="editForm-@Model.Id" onclick="AjaxDelete(event)">Remove</a>
        </div>
    </div>
</form>
