@model List<Person>


<div class="row shadow-sm p-4 mb-4 bg-white">
    <div class="col-12" id="peopleListDiv">
        <div class="row">
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Name</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Phone Number</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">City</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Action</h4>
            </div>
        </div>
        @foreach (var item in Model)
        {
            
                <partial name="_ListItemPartial" model="item" />

        }
    </div>
</div>