@model CreateCityViewModel

<div class="row shadow-sm p-4 mb-4 bg-white">
    <div class="col-12" id="peopleListDiv">
        <form asp-controller="City" asp-action="Edit" method="post">
            <h3 id="createPRSN">Edit City</h3>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control mr-sm-2" />
            <span asp-validation-for="Name" style="color: orangered"></span>
            <br />
            <label>Country:</label>
            <select asp-for="Country.ID" class="form-control col">
                <option disabled selected>None</option>
                @if (Model.CountryList != null)
                {
                    @foreach (Country item in Model.CountryList)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                }

            </select>
            <input type="submit" class="btn btn-primary" value="Edit" />
            <button class="btn btn-secondary" asp-controller="City" asp-action="Index" style="transform: translateY(-5px)">Back</button>
        </form>
    </div>
</div>
