@model Language

<div class="row shadow-sm p-4 mb-4 bg-white">
    <div class="col-12" id="peopleListDiv">
        <form asp-controller="Language" asp-action="Edit" method="post">
            <h3 id="createPRSN">Edit Language</h3>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control mr-sm-2" />
            <span asp-validation-for="Name" style="color: orangered"></span>
            <br />
            <input type="submit" class="btn btn-primary" value="Edit" />
            <button class="btn btn-secondary" asp-controller="Language" asp-action="Index" style="transform: translateY(-5px)">Language Index</button>
        </form>
    </div>
</div>
