@model LanguageViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Language Index</h1>

<br />


<div class="row">
    <div class="col-4">
        <a class="btn btn-secondary btn-sm" asp-controller="Language" asp-action="Create">Add Language</a>
    </div>
    <div class="col-8">
        <form asp-controller="Language" asp-action="Search" method="post">
            <div class="input-group mb-3">
                <input class="form-control col" id="searchInput" placeholder="Search the list..." />
                <div class="input-group-append">
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                    <button class="btn btn-danger btn-sm" asp-controller="Language" asp-action="Index">
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="collapse" id="createEnviroment"></div>

<div id="listAreaDiv">
    <partial name="_LanguageListPartial" model="Model.Languages" />
</div>